body{
    font-family: "Poppins", sans-serif;
    margin:0;
    background-image: url(images/graphic_element.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 25%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.button{
    background:#00B798;
    padding:8px 20px 8px 20px;
    color:white;
    border-radius:25px;
    width:72px;
    text-align: center;
    margin-top:52px
}

.off-screen-menu{
    z-index:100;
    background:white;
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    right:-100vw;
    display:none;
    font-size:3rem;
    transition:0.2s;
}

.off-screen-menu ul{
    padding:0;
    padding-top:168px;
    display:flex;
    margin:0;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.off-screen-menu ul li{
    padding-bottom:16px;
}

.off-screen-menu ul li a{
    color:black;
    text-decoration: none;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #00B798;
    text-decoration-thickness: 4px;
}
.off-screen-menu.active{
    right:0;
}

nav{
    position:relative;
    right:0;
    z-index:920;
    padding:1rem;
    display:flex;
}

.ham-menu{
    height:50px;
    width:50px;
    margin-left:auto;
    position:relative;
    display:none;
}

.ham-menu span{
    height:3px;
    width:85%;
    background: #00B798;
    border-radius:25px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: .2s ease;
}

.ham-menu span:nth-child(1){
    top:25%;
}
.ham-menu span:nth-child(3){
    top:75%;
}

.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity:0;
}
.ham-menu.active span:nth-child(3){
    top:50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.header-container{
    z-index: 100;
    max-width: 990px;
    background:white;
    border-radius: 100px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.13);
    width:100%;
    padding:8px 24px 8px 48px;
    height:52px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4{
    color: #00B798;
    font-weight: 600;
    font-size: 2em;
    margin: 0 0 16px 0;
}

.grid2{
    display:grid;
    width:100%;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    margin-bottom: 112px;
}
.grid2 img{
    width:100%;
    border-radius: 16px;
}

.grid3{
    display:grid;
    width:100%;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
    margin-bottom: 112px;
}
.grid3 img{
    width:100%;
    border-radius: 16px;
}


p{
  padding-right:64px;  
}

.section{
    display: flex;
    padding: 64px 0 64px 0;
}

h3{
    font-weight:600;
    margin: 20px 0 6px 0;
    color: #00B798
    
}

#LifeLearn{
    background-image: url(images/LifeLearn/LifeLearn-Card.png)
}
#SerenEase{
    background-image: url(images/SerenEase/SerenEase-Card.png)
}
#ProConcepts{
    background-image: url(images/ProConcepts/ProConcepts-Card.png)
}
#CPASS{
    background-image: url(images/CPASS/CPASS-Card.png)
}
#Taski{
    background-image: url(images/Taski/taski_card.png);
}
#ProSites{
    background-image: url(images/ProSites/ProSites-Card.png);
}
#CornerDelights{
    background-image: url(images/CornerDelights/cornerdelights_card.png);
}

.chipContainer{
    width: 100%;
    flex-wrap: wrap;
    display:flex;
    gap:12px;
}

.chipContainer p{
    line-height: 200%;
    text-decoration: none;
    height:32px;
    margin:2px 0 2px 0;
    color: white;
    background:black;
    padding: 2px 20px 2px 20px;
    border-radius: 100px;
}

.mw800{
    max-width: 800px;
}

#title{
    max-width: 900px; padding-bottom:80px;font-size:4rem; font-weight: 600;margin-bottom: 32px
}

.pageTitle{
    max-width: 900px; padding-bottom:80px;font-size:4rem; font-weight: 600;margin-bottom: 32px;line-height: 120%;
}

h2{
    font-weight: 400;
    margin:0 0 22px 0;
}

#logo{
    background-image: url(images/logan-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width:100%;
    height:32px;
}


#navItems a{
    text-decoration: none;
    border-radius: 64px;
    font-size: 18px;
    border: 0;
    line-height: 250%;
    color:#232122;

}

.cta{
    background: #00B798;
    color:white;
    margin-right:-32px;
    padding: 0px 18px 0px 18px;
    line-height: 250%;
}

#navItems a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #00B798
}

.pageBody{
    box-sizing: border-box;
    width:100%;
    padding: 150px 64px 64px 64px;
    max-width: 1100px;
}

.projectGrid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    flex-wrap: wrap;
}

.projectGrid a{
    text-decoration:none;
    color:black;
}
.projectCard{
    width:100%;
}

.extraMargin{
    margin-top:64px;
}

.projectCardHero{
    overflow: hidden;
    width:100%;
    border-radius:32px;
    height: 320px;
    background:#E9E9E9;
    padding-bottom:16px;
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s ease;
}

.projectCardHero:hover{
    cursor: pointer;
    border-radius:40px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.1);
    transform: translateY(-6px)
}

.projectCardName{
    border-radius: 32px;
    background:#00B798;
    color:white;
    padding:8px 20px;
}

#contactButton{
    width:auto;
    text-align: center;
    padding:8px 18px 8px 18px;
    margin-left: 16px; 
    background: #00B798; 
    color: white
}

.imgBorder img{
    border: 1px solid #CDCDCD;
}


h5{
    font-weight: 500;
    font-size: 1.2em;
}
@media only screen and (max-width:800px){
    #container{
        width:70%;
        margin-bottom:30%;
    }
    .section{
        flex-direction: column;
    }
    .centered{
        padding-bottom: 32px;
    }
    p{
        max-width: 1200px;
        padding:0;
    }
    body{
        background-size: 50%;
        background-image:url();
    }
    #navItems{
        gap:32px;
        display:flex;
    }
    #contactButton{
        display:none;
    }
    .projectGrid{
        flex-direction: column;
    }
    .pageBody{
        width:100vw;
        padding:150px 22px 22px 22px;
    }
    .projectCard{
        width:100%;
    }
    .grid2{
        grid-gap: 4px;
    }
    .grid2 img{
        border-radius: 8px;
    }
    .projectGrid{
        grid-template-columns: auto;
    }
    .grid3{
        grid-template-columns: auto auto;
        grid-gap: 12px;
    }
    .grid3 img{
        border-radius: 8px;
    }
    #title{
        font-size:2.2em;
        max-width:100vw;
        padding-bottom:32px;
        line-height: 130%;
    }
    #logo{
        width:100%;
    }
    .extraMargin{
        margin:0;
    }

    #navItems a{
        display:none;
    }
    .ham-menu{
        display:block;
    }
    .off-screen-menu{
        display:block;
    }
    .pageTitle{
        margin-top:0px
    }

    .mobile1{
        grid-template-columns: auto;
    }
    .projectCardHero{
        height:260px;
    }
}